streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
google-generativeai
faiss-cpu
sentence-transformers
PyMuPDF
pypdf
huggingface-hub
numpy
python-dotenv
